@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

$primary: #FFA500;
$secondary: #0051c3;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

html,body{
    background-image: url("../public/Background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}

main{

}